MONGODB_URI=your_mongodb_connection_string
MONGODB_DB=farm_marketplace
SESSION_SECRET=replace_with_a_long_random_secret

# Official mandi data from data.gov.in / AGMARKNET
MANDI_API_KEY=your_data_gov_in_api_key
MANDI_RESOURCE_ID=9ef84268-d588-465a-a308-a864a43d0070
MANDI_API_BASE_URL=https://api.data.gov.in/resource
